@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e6f2ff;
  color: #000066;
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.success {
  background-color: #a1e8a1;
}

body.failure {
  background-color: #baaeb6;
}

.content {
  width: 400px;
  min-width: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.big {
  font-weight: bold;
  font-size: 1.5em;
}

input {
  padding: 10px 15px;
  border: 0;
  border-bottom: solid 1px #2d2d2d;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #2d2d2d;
  color: #ffffff;
}

.btn-reload {
  display: none;
}

.success-reload {
  display: block;
}

.result {
  font-weight: bold;
  font-size: 1em;
}

.footer {
  font-weight: bold;
  font-size: 0.8em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
